[Unit]
Description=ADB Daemon
After=sysinit.target

[Service]
Type=simple
ExecStartPre=/sbin/xdg-adbd
ExecStart=/bin/bash -c 'ADB_TRACE=1 /sbin/adbd 2> /var/log/adbd.err 1> /var/log/adbd.out'

ExecStopPost=/bin/umount /dev/usb-ffs/adb

[Install]
WantedBy=basic.target
Before=network.service
